/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

$signup-height: 100vh;
.signup-section {
  background: url('/sign_up1.jpg') 50% no-repeat;
  background-size: cover;
  height: $signup-height;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  // align-items: center;

  .signup-section-form {
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 50ch;
    padding: 5px;
    .button {
      color: white !important;
      text-shadow: none;
    }
  }
}

.login-section {
  background: url('/login.jpg') 50% no-repeat;
  background-size: cover;
  height: $signup-height;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  // align-items: center;

  .login-section-form {
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 50ch;
    padding: 5px;
    .not-shadow {
      text-shadow: none;
    }
    .button {
      color: white !important;
      text-shadow: none;
    }
  }
}

.rest-section {
  background: url('/rest.png') 50% no-repeat;
  background-size: cover;
  height: $signup-height;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  // align-items: center;

  .rest-section-form {
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 50ch;
    padding: 5px;
    .not-shadow {
      text-shadow: none;
    }
    .button {
      color: white !important;
      text-shadow: none;
    }
  }
}

.change_language {
  position: absolute;
  float: left !important;
  right: 1rem;
  top: 1rem;
  a {
    color: white;
  }
}

.fix-height {
  select[multiple]{
    min-height: 270px;
  }
}